tr, th{
    text-align: left;
    /* border-bottom: 1px solid #ccc; */
}

tr:last-of-type{
    border-bottom: 0;
}

td, th{
    padding: 5px 20px;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

tr.active{
    background-color: lightpink;
}

tbody tr:hover{
    background-color: lightpink;
    cursor: pointer;
}
thead tr{
    background-color: #f1f1f1;
}

.table {
    flex-basis: 55%;
}