tr, th{
    text-align: left;
}

tr:last-of-type{
    border-bottom: 0;
}

td, th{
    padding: 5px 20px;
    z-index: 9;
    position: relative;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

tr {
    position: relative;
    cursor: pointer;
}

tr::after{
    background-color: lightpink;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    min-height: 52px;
    width: 0;
    transition: width .25s ease-in-out;
}

tr.active::after, tr:hover::after {
    width: 100%;
}

thead tr{
    height: 52px;
}

.table {
    flex-basis: 55%;
}